.navBar_container {
    box-sizing: border-box;
    width: 100vw;
    margin:0;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .navBar_item{
    color:white;
    text-decoration: none;
    padding: 20px;
  }
  a.active {
    outline: 1px solid rgb(252, 249, 247);
    outline-offset: 8px;
    border-radius: 2px;
    color:white;
    text-decoration: none;
  }
  .icon{
    color: #0064a8;
    margin-right:2px;
  }