.planTrip_menu_container, .planTrip_menu{
  box-sizing: border-box;
  width: 100%;
  margin:0;
}
.planTrip_container{
  box-sizing: border-box;
  width: 100%;
  margin:0;
  padding:15px;
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 30px;
}
.planTrip_map {
  min-width: fit-content;
  flex:3 1 45%;
  }
.planTrip_search_form{
  min-width: fit-content;
  flex:1 1 200px;
}
img{
  width: 100%;
}

