.stations {
    background-color: white;
    padding:30px;
  }
  .stations_header {
    color: #0064a8;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .stations_desc{
    color:rgb(59, 58, 58);
    font-size: 1rem;
  }
  .stations_list_container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
  }
  .stations_list_item{
    width:40%;
    font-size: 1rem;
  }
  @media all and (max-width: 800px){
    .stations_list_item{
      width:70%;
    }
  }
  