.station {
    margin:0;
    padding:30px;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    row-gap: 30px;
    /* column-gap: 20px; */
  }
  
  .station_single {
    display:block;
    width: 45vw;
  }
  .station_double{
    display:block;
    width: 70vw;
  }

  @media all and (max-width: 800px){
    .station_single{
      width: 70vw;
    }
  }