.etd_container{
    width:100%;
}
.etd_title{
    display: flex;
    justify-content: space-between;
    background-color: #4f7e1c;
    color: white;
    margin: 0;
    padding:6px 20px;
    width:100%;
    font-size: 1.1rem;
    font-weight: bold;
    
}
.etd_left{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
}
.etd_right{
    font-size: 1rem;
    padding: 5px;
}
.etd_list{
    color:blueviolet;
}
.etd_desc{
    color:blue;
}
.etd_link{
    color:rgb(15, 15, 57);
    text-decoration: underline;
}

.etd_symbol{
    box-sizing: border-box;
    display: block;
    padding: auto 0;
    width:30px;
    height:30px;
    /* text-align: center; */
    position: relative;
}
.etd_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}
.etd_dest_line{
    display:flex;

    color: black;
    align-self: center;
    background-color: #f1f5e3;
    font-size: 1rem;
    column-gap: 8px;
    padding:3px 8px;
    align-self: center;
}