.lines_container{
    box-sizing: border-box;
    width:100%;
    margin:0;
    text-align: left;
    background-color: #e5eef7;
}
.lines_title{
    box-sizing: border-box;
    background-color:#0064a8;
    color: white;
    padding:5px 15px;
    width:100%;
    font-size: 1.1rem;
    font-weight: bold;
}
.lines_list{
    box-sizing: border-box;
    width:100%;
    padding: 0 15px;
}
.lines_item{
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    background-color: #e5eef7;
    font-size: 0.85rem;
    column-gap: 8px;
    padding:3px 0;
}

.lines_airplane{
    width:30px;
    height: 30px;
    background-image: url("https://www.bart.gov/themes/custom/bart/assets/images/icon-lines/icon-line-beige.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}