.etd_container{
    width:100%;
    background-color: #f1f5e3;
}
.etd_title{
    display: flex;
    justify-content: space-between;
    background-color: #4f7e1c;
    color: white;
    padding:0 13px;
    box-sizing: border-box;
    width:100%;
    font-size: 1.1rem;
    font-weight: bold;
    
}
.etd_left{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
}
.etd_right{
    font-size: 1rem;
    font-weight: normal;
    padding: 5px;
}
.etd_list{
    padding-top:1px;
    padding-left: 15px;
}
.etd_desc{
    font-size: 0.85rem;
    line-height: 1.5;
    color: black;
    padding: 5px 15px;
}
.etd_link{
    color:blue;
    font-weight: 500;
}

.etd_dest_line{
    display:flex;
    color: black;
    justify-content: space-between;
    align-content:center;
    align-items:center;
    font-size: 0.85rem;
    column-gap: 8px;
    padding:3px 0;
}

.etd_dest_times{
    padding: 0 15px;
    font-size: 0.75rem;
    font-weight: bold;
    color:rgb(57, 46, 46);
    display: flex;
    column-gap: 8px;
}

.etd_dest_unit{
    padding-left: 20px;
    font-size: 0.85rem;
    font-weight: normal;
    color:black;
}
.etd_dest_left{
    display:flex;
    column-gap: 8px;
    align-items: center;
    align-content: center;
}
.etd_dest_item{
    padding-right: 8px;
}