.form_container {
    width: 100%;
    box-sizing: border-box;
    color:black;
  
  }
  
.form_title {
  background-color: #0796d4;
  color: white;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding:20px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.form_inputs{
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0 2px rgb(163, 161, 161);
  padding: 15px 20px 15px;
  border-radius: 0 0 8px 8px;
}
.form_input{
  box-sizing: border-box;
  width: 100%;
  display:flex;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}
select{
  appearance: none;
/* safari */
-webkit-appearance: none;
/* other styles for aesthetics */
  width: 100%;
  font-size: 1rem;
  padding: 0.675em 0.2em 0.675em;
  font-weight: 300;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #323131;
  color: #555555;
  cursor: pointer;
  min-width: 350px;
}
.form_radio{
  font-size: 1rem;
  font-weight: 600;
  padding: 0.675em 0.2em 0.675em;
}
.form_desc{
  font-size: 1rem;
  font-weight: 600;
  padding: 0.675em 0.2em 0.675em;
}
.form_time {
  display: block;
}
.form_date{
  display:block;
}


.form_time_date{
  display: flex;
  padding: 10px 0;
  column-gap: 50px;
  justify-content: center;
}
.form_submit{
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color:  #0796d4;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
}