  .tripResult_container{
    width:100%;
    background-color: #f6f7f4;
    color:black;
}
.tripResult_title{
    background-color: #4f7e1c;
    color: white;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding:20px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    
}
.tripResult_details_container{
box-sizing: border-box;
width: 100%;
box-shadow: 0 0 2px rgb(163, 161, 161);
padding: 10px 20px 15px;
border-radius: 0 0 8px 8px;
}

.tripResult_back{
  background-color:  #4f7e1c;
  color: white;
  border: none;
  padding:5px;
  font-size: 1.8rem;
  margin-right: 8px;
}
button:hover{
  outline: 2px solid white;
  border-radius: 2px;
}
button{
  transition: all 0.3s;
  outline:none;
}
.tripResult_desc{
  margin:0;
  padding:0;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}
.tripResult_date{
  /* background-color: black; */
  color: rgb(73, 69, 69);
  margin: 5px 0 10px 0;
  padding:2px 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #aaaaaa;
}
.link{
  text-decoration: underline;
  color: blue;
  margin-right: 5px;
}
.abbr{
  font-size: 0.9rem;
  font-weight: 400;
}
.tripResult_trip{
  padding-bottom: 10px;
  
}
hr{
  color:  #f6f7f4;
  box-shadow: 0 1px 2px #aaaaaa;
}